<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="admin_softbbmEntities" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql177wn.dotvndns.vn;initial catalog=admin_softbbm;persist security info=True;user id=softbbm;password=325_truongvinhky;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="babymart_vnEntities" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql175wn.dotvndns.vn;initial catalog=babymart_vn;user id=babymart;password=kiapham1991;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="babymart_vnEntities_local" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QV6OI2F\SQLEXPRESS;initial catalog=babymart_vn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="babymart_vn_testsoftEntities" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql175wn.dotvndns.vn;initial catalog=babymart_vn_testsoft;persist security info=True;user id=babymart_vn_testsoft;password=325truongvinhky;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>
</configuration>