<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="babymart_vn_production" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql175wn.dotvndns.vn;initial catalog=babymart_vn;user id=babymart_vn_user;password=325truongvinhky;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="babymart_vn_dev" connectionString="metadata=res://*/Model.Entity.Model1.csdl|res://*/Model.Entity.Model1.ssdl|res://*/Model.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql175wn.dotvndns.vn;initial catalog=babymart_vn_dev;user id=babymart_vn_devuser;password=325truongvinhky;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>