<script src=@Url.Content("~/Scripts/module/Sample/m.Sample.js")></script>
<script src=@Url.Content("~/Scripts/module/Sample/mv.Sample.js")></script>
<script>
    var sample = new Product.mvSample();
    $(document).ready(function () {
        sample.Start();
    });
</script>
<div id="SampleViewId" class="row-fluid">
</div>