<script src=@Url.Content("~/Scripts/module/plugin/_TableTool.js")></script>
<script src=@Url.Content("~/Scripts/module/Employess/m.Employess.js")></script>
<script src=@Url.Content("~/Scripts/module/Employess/mv.Employess.js")></script>
@Html.Partial("~/Views/Shared/Partial/module/Partial/_TableTool.cshtml")
<script>
    var employess = new Employess.mvEmployess();
    $(document).ready(function () {
        employess.Start();
    });
</script>
<div id="EmployessViewId" class="row-fluid">
    <div class="span12">
        <div class="text-right padding5px">
            <button class="btn btn-success" data-bind="click : AddEmployee">Thêm nhân viên</button>
            <button class="btn btn-primary" data-bind="click: function() {  employess.Start() }"><i class="icon-refresh"></i></button>
        </div>
        <div class="row-fluid">
            <div class="table-header">
                Danh sách nhân viên
            </div>
            <!--ko template: {name: 'dataTables', data:employess.TmpTable } --><!--/ko-->
        </div>
    </div>
    <div id="AddEmployee" class="modal fade hide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" data-bind="with: mNewCustomer">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="span12">
                        <span class="span4 text-right">Tên Nhân viên: </span>
                        <div class="span8"> <input type="text" data-bind="value: Name" /></div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Tên Chức danh: </span>
                        <div class="span3 text-left">
                            <select data-bind="options: $root.lstEmployTitle, optionsText: 'Name',optionsValue:'Id', value: Titles"></select>
                        </div>
                        <div class="span5 text-right">
                            <button class="btn btn-primary" data-bind="click: $root.OpenModalEmloyeeTitle"><i class="icon-plus"></i></button>
                        </div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Địa chỉ: </span>
                        <div class="span8"> <input type="text" data-bind="value: Address" /></div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Phone: </span>
                        <div class="span8"> <input type="text" data-bind="value: Phone" /></div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Email: </span>
                        <div class="span8"> <input type="text" data-bind="value: Email" /></div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Mật khẩu: </span>
                        <div class="span8"> <input type="password" data-bind="value: Pwd" /></div>
                    </div>
                    <div class="span12">
                        <span class="span4 text-right">Nhập lại mật khẩu: </span>
                        <div class="span8"> <input type="password" data-bind="value: PwdRep" /></div>
                    </div>
                </div>

            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnCancel">Hủy</button>
                <button type="button" class="btn btn-primary btnOk">OK</button>
            </div>
        </div>
    </div>
    <div id="ModalEmloyeeTitle" class="modal fade hide">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="span12" data-bind="with: mEmployTitle">
                        <span class="span4 text-right">Tên chức danh: </span>
                        <div class="span8"> <input type="text" data-bind="value: Name" /></div>
                    </div>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btnCancel">Hủy</button>
                    <button type="button" class="btn btn-primary btnOk">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table_Employess" type="text/html">
    <thead>
        <tr>
            <th class="sorting" data-bind="click: function(){ Sortby('Name'); SortbyDesc(SortbyDesc()?false:true)}">Name</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Titles'); SortbyDesc(SortbyDesc()?false:true)}">Titles</th>

            <th class="sorting" data-bind="click: function(){ Sortby('Email'),SortbyDesc(SortbyDesc()?false:true)}">Email</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Phone'); SortbyDesc(SortbyDesc()?false:true)}">Phone</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Address'),SortbyDesc(SortbyDesc()?false:true)}">Address</th>
            <th>Người tạo</th>
        </tr>
    </thead>
    <tbody>
        <!--ko foreach: listData() -->
        <tr data-bind="click: $parents[1].GetDetail, attr:{class: IsViewDetail()?'headDetail cursor-pointer':'cursor-pointer'}">
            <td>
                <span data-bind="text: Name"></span>
            </td>
            <td>
                <!--ko foreach: $root.lstEmployTitle -->
                <!--ko if: $data.Id() == $parents[0].Titles()-->
                <span data-bind="text: $data.Name"></span>
                <!--/ko-->
                <!--/ko-->
            </td>
            <td>
                <span data-bind="text: Email"></span>
            </td>
            <td>
                <span data-bind="text: Phone"></span>
            </td>
            <td>
                <span data-bind="text: Address"></span>
            </td>
            <td>
                <span data-bind="textEmployeeName:  EmployeeCreate"></span>
                (<span data-bind="datelong: DateCreate"></span>)
            </td>
        </tr>
        <!--ko if: IsViewDetail-->
        <tr class="footerDetail">
            <td colspan="7">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#info">
                                Thông tin
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#roles">
                                Phân quyền
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="info" class="tab-pane in active">
                            <div class="span12 border-right m-b-30">
                                <div>
                                    <div class="span4 text-right">Tên nhân viên: </div>
                                    <div class="span8 text-left"> <input type="text" data-bind="value: Name" class="form-control" /></div>
                                </div>
                                <div>
                                    <span class="span4 text-right">Tên Chức danh: </span>
                                    <div class="span8 text-left">
                                        <select data-bind="options: $root.lstEmployTitle, optionsText: 'Name',optionsValue:'Id', value: Titles" style="margin-left:0px"></select>
                                        <button class="btn btn-primary btn-mini" data-bind="click: $root.OpenModalEmloyeeTitle"><i class="icon-plus"></i></button>
                                    </div>
                                </div>

                                <div>
                                    <div class="span4 text-right">Email: </div>
                                    <div class="span8 text-left"> <input type="text" data-bind="value: Email" /></div>
                                </div>
                                <div>
                                    <div class="span4 text-right">Số điện thoại: </div>
                                    <div class="span8 text-left"> <input type="text" data-bind="value: Phone" /></div>
                                </div>
                                <div>
                                    <div class="span4 text-right">Địa chỉ: </div>
                                    <div class="span8 text-left"> <input type="text" data-bind="value: Address" /></div>
                                </div>
                                <div>
                                    <div class="span4 text-right"></div>
                                    <div class="span8 text-left">
                                        <label>
                                            <input type="checkbox" data-bind="checked: IsDisable">
                                            <span class="lbl">Khóa tài khoản</span>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="span4 text-right"></div>
                                    <div class="span8 text-left">
                                        <label>
                                            <input type="checkbox" data-bind="checked: $parents[1].IsReCreatePwd">
                                            <span class="lbl">Tạo lại mật khẩu</span>
                                        </label>
                                    </div>
                                </div>
                                <!--ko if: $parents[1].IsReCreatePwd -->
                                <div>
                                    <div class="span4 text-right">Mật khẩu: </div>
                                    <div class="span8 text-left"> <input type="password" data-bind="value: Pwd" /></div>
                                </div>
                                <div>
                                    <div class="span4 text-right">Nhập lại mật khẩu: </div>
                                    <div class="span8 text-left"><input type="password" data-bind="value: PwdRep" /></div>
                                </div>
                                <!--/ko-->
                            </div>
                            <div class="right">
                                <button class="btn btn-success" data-bind="click: $parents[1].UpdateEmloyess ">Cập nhật</button>

                                <button class="btn btn-danger" data-bind="click: $parents[1].DeleteEmployess ">Xóa User</button>
                            </div>
                            
                        </div>
                        <div id="roles" class="tab-pane">
                            <div class="span12">
                                <div class="tabbable tabs-left">
                                    <ul class="nav nav-tabs">
                                        <!--ko if: $parents[1].lstRoles().length>0-->
                                        <!-- ko foreach:  $parents[1].lstRoles() -->
                                        @*<li data-bind="attr:{'class': $index() == 1 ?'':'active'}">*@
                                        <li>
                                            <a data-toggle="tab" data-bind="attr:{'href':'#'+ BrandId()}">
                                                <i class="pink  icon-inbox bigger-110"></i>
                                                <span data-bind="text: BrandName"></span>
                                            </a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </ul>

                                    <div class="tab-content">
                                        <!--ko if: $parents[1].lstRoles().length>0-->
                                        <!-- ko foreach:  $parents[1].lstRoles() -->
                                        <div data-bind="attr:{'id': BrandId(),'class': $index() == 0? 'tab-pane in active':'tab-pane'}" class="tab-pane">
                                            <div class="control-group">
                                                <label class="control-label"><b>Phần quyền Chi nhánh <span data-bind="text: BrandName"></span></b></label>
                                                <div class="controls">
                                                    <!--ko foreach: mGroupRoles -->
                                                    <div class="span4 margin10px text-left margin0px margin-bot-30px">
                                                        <label>
                                                            <input type="checkbox" data-bind="checked: isSelectGroup">
                                                            <span class="lbl" data-bind="text: Name"></span>
                                                        </label>
                                                        <!--ko foreach: Roles-->
                                                        <div class="padding-left-30px">
                                                            <label>
                                                                <input type="checkbox" data-bind="checked: isSelect">
                                                                <span class="lbl" data-bind="text: Name"></span>
                                                            </label>
                                                        </div>
                                                        <!-- /ko -->
                                                    </div>
                                                    <!-- /ko-->

                                                </div>

                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <div class="right">
                                            <button class="btn btn-success" data-bind="click: $parents[1].UpdateRoles ">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!--/ko-->
        <!--/ko-->
    </tbody>
</script>


