<script src=@Url.Content("~/Scripts/module/Order/OrderChannel/m.Order.js")></script>
<script src=@Url.Content("~/Scripts/module/Order/OrderChannel/mv.OrderSale_List.js")></script>
<script>
    var orderSaleList = new Order.mvOrderSaleList();
    $(document).ready(function () {
        orderSaleList.Start();
    });
</script>
<div id="OrderSaleListViewId" class="row-fluid">
    <div class="span12">
        <div class="right">
            <button class="btn btn-primary" data-bind="click: function() {  orderSaleList.Start() }"><i class="icon-refresh"></i></button>
        </div>
        <div class="row-fluid">
            <h3 class="header smaller lighter">Danh sách Đơn hàng</h3>
            <div class="table-header">
                Đơn hàng
            </div>
            <div class="row-fluid">
                <div class="span11 m-10-px">
                    <!--ko template: {name: 'Filter_Search', data: FilterOrder } --><!--/ko-->
                </div>
            </div>
            <!--ko template: {name: 'dataTables', data:orderSaleList.TmpTable } --><!--/ko-->

        </div>
    </div>
</div>
<script id="table_OrderSale" type="text/html">
    <thead>
        <tr>
            <th colspan="9" class="text-right"><h4>Tổng</h4></th>
            <th><h4 data-bind="textMoneyDefaultSymbol: TotalMoney"></h4></th>
        </tr>
        <tr>
            <th>
                <label>
                    <input type="checkbox" data-bind="value: true, checked: $root.SelectAllIds">
                    <span class="lbl"></span>
                </label>
            </th>
            <!-- ko if: $root.SelectIds().length >0 -->
            <th class="position-relative" colspan="9">
                <div class="lable_bulk">
                    Có <span data-bind="text: $root.SelectIds().length"></span> đơn hàng được chọn
                </div>
                <div class="position-relative left open">
                    <a data-toggle="dropdown" class="btn btn-small btn-primary dropdown-toggle">
                        Chọn thao tác <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#" tabindex="-1">Cập nhật trạng thái</a>
                            <ul class="dropdown-menu overflow_y">
                                <!--ko foreach: statusOrder_Sale-->
                                <li>
                                    <a data-bind="text: $data.Value, click: function(){ $root.UpdateStatus($data)}" class="cursor-pointer"></a>
                                </li>
                                <!--/ko-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </th>
            <!--/ko-->
            <!-- ko if: $root.SelectIds().length <=0 -->
            <th class="sorting" data-bind="click: function(){ Sortby('Id'); SortbyDesc(SortbyDesc()?false:true)}">Mã</th>
            <th class="sorting" data-bind="click: function(){ Sortby('ChannelsTo'); SortbyDesc(SortbyDesc()?false:true)}">Khách hàng</th>
            <th class="sorting" data-bind="click: function(){ Sortby('DateCreate'),SortbyDesc(SortbyDesc()?false:true)}">Ngày tạo</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Total'),SortbyDesc(SortbyDesc()?false:true)}">Tổng tiền</th>
            <th class="sorting">NV lập</th>
            <th class="sorting">NV giao hàng</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Note'),SortbyDesc(SortbyDesc()?false:true)}">Ghi chú</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Status'),SortbyDesc(SortbyDesc()?false:true)}">Trạng thái</th>
            <th></th>
            <!--/ko-->
        </tr>
    </thead>
    <tbody data-bind="foreach:listData">
        <tr class="cursor-pointer">
            <td>
                <label>
                    <input type="checkbox" data-bind="value: Id, checked: $parents[1].SelectIds">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <span data-bind="text: Id"></span>
            </td>
            <td>
                <span data-bind="text:Customer()? Customer().Name:'Khách vãng lai'"></span>
            </td>
            <td>
                <span data-bind="datelong: DateCreate"></span>
            </td>
            <td>
                <span data-bind="textMoneyDefaultSymbol: Total"></span>
            </td>
            <td>
                <span data-bind="text: EmployeeNameCreate"></span>
            </td>
            <td>
                <span data-bind="text: EmployeeNameShip()?EmployeeNameShip:'--'"></span>
            </td>
            <td>
                <span data-bind="text: Note"></span>
            </td>
            <td>
                <span data-bind="renderStatus:Status, typeStatus:'Order_Channel'"></span>
                <!--ko if: StatusPrint() && StatusPrint().length > 0 -->
                <span class="label label-info arrowed-in arrowed-in-right">
                    Đã In
                </span>
                <!--/ko-->

            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: function(){ CommonUtils.addTabDynamic('Đơn bán hàng '+ Code() + Id(), CommonUtils.url('/OrderChannel/RenderViewOrder'), '#contentX',true,{ OrderId : Id }) }"><i class="icon-eye-open"></i></button>
            </td>
        </tr>
    </tbody>
</script>
