<script src=@Url.Content("~/Scripts/module/Order/OrderChannel/m.Order.js")></script>
<script src=@Url.Content("~/Scripts/module/Order/OrderChannel/mv.OrderSale_List.js")></script>
<script>
    var orderSaleList = new Order.mvOrderSaleList();
    $(document).ready(function () {
        orderSaleList.Start();
    });
</script>
<div id="OrderSaleListViewId" class="row-fluid">
    <div class="span12">
        <div class="right">
            <button class="btn btn-primary" data-bind="click: function() {  orderSaleList.Start() }"><i class="icon-refresh"></i></button>
        </div>
        <div class="row-fluid">
            <h3 class="header smaller lighter">Danh sách Đơn hàng</h3>
            <div class="table-header">
                Đơn hàng
            </div>
            <div class="row-fluid">
                <div class="span11 m-10-px">
                    <!--ko template: {name: 'Filter_Search', data: FilterOrder } --><!--/ko-->
                </div>
            </div>
            <!--ko template: {name: 'dataTables', data:orderSaleList.TmpTable } --><!--/ko-->

        </div>
    </div>
</div>
<script id="table_OrderSale" type="text/html">
    <thead>
        <tr>
            <th colspan="8" class="text-right"><h4>Tổng</h4></th>
            <th><h4 data-bind="textMoneyDefaultSymbol: TotalMoney"></h4></th>
        </tr>
        <tr>
            <th class="sorting" data-bind="click: function(){ Sortby('Id'); SortbyDesc(SortbyDesc()?false:true)}">Mã</th>
            <th class="sorting" data-bind="click: function(){ Sortby('ChannelsTo'); SortbyDesc(SortbyDesc()?false:true)}">Khách hàng</th>
            <th class="sorting" data-bind="click: function(){ Sortby('DateCreate'),SortbyDesc(SortbyDesc()?false:true)}">Ngày tạo</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Total'),SortbyDesc(SortbyDesc()?false:true)}">Tổng tiền</th>
            <th class="sorting">NV lập</th>
            <th class="sorting">NV giao hàng</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Note'),SortbyDesc(SortbyDesc()?false:true)}">Ghi chú</th>
            <th class="sorting" data-bind="click: function(){ Sortby('Status'),SortbyDesc(SortbyDesc()?false:true)}">Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--ko foreach: listData() -->
        <tr data-bind="click: $parents[1].GetDetail" class="cursor-pointer">
            <td>
                <span data-bind="text: Id"></span>
            </td>
            <td>
                <span data-bind="text:Customer().Name"></span>
            </td>
            <td>
                <span data-bind="datelong: DateCreate"></span>
            </td>
            <td>
                <span data-bind="textMoneyDefaultSymbol: Total"></span>
            </td>
            <td>
                <span data-bind="text: EmployeeNameCreate"></span>
            </td>
            <td>
                <span data-bind="text: EmployeeNameShip()?EmployeeNameShip:'--'"></span>
            </td>
            <td>
                <span data-bind="text: Note"></span>
            </td>
            <td data-bind="renderStatus:Status, typeStatus:'Order_Channel'"></td>
            <td>
                <button class="btn btn-primary" data-bind="click: function(){ CommonUtils.addTabDynamic('Đơn bán hàng số '+ Code()+'-'+ Id(), CommonUtils.url('/OrderChannel/RenderViewOrder'), '#contentX',true,{ OrderId : Id }) }"><i class="icon-eye-open"></i></button>
            </td>
        </tr>
        <!--/ko-->
    </tbody>
</script>
