<script type="text/html" id="_PrintOrder">
    <div class="printable" style="font-size:14px">
        <h5 class="text-center" style="font-weight:bold">Babymart.vn - Nơi bố mẹ gửi trọn niềm tin.</h5>
        <p class="text-center" style="line-height:0">(028) 7309.3479 – 0918.644643</p>
        <h4 class="text-center m-t-20"> HÓA ĐƠN BÁN HÀNG</h4>
        <table class="m-auto">
            <tbody>
                <tr>
                    <td class="text-right">Ngày : </td>
                    <td data-bind="datelongfull:  mOrderSale().DateCreate" class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-right">Số hóa đơn : </td>
                    <td data-bind="text: mOrderSale().Code() +'-'+ mOrderSale().Id()" class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-right">Tên KH: </td>
                    <td data-bind="text: mOrderSale().Customer().Name() ? mOrderSale().Customer().Name() : '---'" class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-right">SĐT: </td>
                    <td data-bind="text: mOrderSale().Customer().Phone() ? mOrderSale().Customer().Phone() : '---'" class="text-left"></td>
                </tr>
                <!--ko if: mOrderSale().isChannelOnline() -->
                <tr>
                    <td class="text-right">Địa chỉ: </td>
                    <td data-bind="text: mOrderSale().Customer().Address() ? mOrderSale().Customer().Address() : '---'" class="text-left"></td>
                </tr>
                <!--/ko-->
                <tr>
                    <td class="text-right">NV bán hàng: </td>
                    <td data-bind="textEmployeeName: mOrderSale().EmployeeCreate" class="text-left"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <!--ko if: mOrderSale().isChannelOnline() -->
                    <td>Mã</td>
                    <!-- /ko -->
                    <!--ko if: !mOrderSale().isChannelOnline() -->
                    <td>Stt</td>
                    <!-- /ko -->
                    <td>Tên sản phẩm</td>
                    <td>SL</td>
                    <td>Giá</td>
                    <td>T.Tiền</td>
                </tr>
            </thead>
            <tbody>
                <!--ko foreach:  mOrderSale().Detail() -->
                <!--ko if: ProductId() >0 -->
                <tr class="odd">
                    <td class="text-center">
                        <!--ko if: !$parents[0].mOrderSale().isChannelOnline() -->
                        <span data-bind="text: ($index() + 1)"></span>
                        <!-- /ko -->
                        <!--ko if: $parents[0].mOrderSale().isChannelOnline() -->
                        <span data-bind="text: Code"></span>
                        <!-- /ko -->
                    </td>
                    <td>
                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 400px;" data-bind="text: ProductName"></div>
                    </td>
                    <td>
                        <span data-bind="text: Total"></span>
                    </td>
                    <td class="text-center">
                        <span data-bind="textMoney: Price"></span>
                    </td>
                    <td>
                        <span data-bind="textMoney: TotalMoney"></span>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- /ko -->
                <tr>
                    <td colspan="3" class="text-right">Tổng thành tiền</td>
                    <td colspan="2">
                        <span data-bind="textMoneyDefaultSymbol: mOrderSale().TotalMoney()"></span>
                    </td>
                </tr>
                <!--ko if: mOrderSale().DisscountValue() >0 -->
                <tr>
                    <td colspan="3" class="text-right">Giảm giá chung</td>
                    <td colspan="2">
                        <span data-bind="textMoneyDefaultSymbol:  mOrderSale().DisscountValue"></span>
                    </td>
                </tr>
                <!-- /ko -->
                <!--ko if: mOrderSale().TotalOrther() >0 -->
                <tr>
                    <td colspan="3" class="text-right">Phí khác</td>
                    <td colspan="2">
                        <span data-bind="textMoneyDefaultSymbol:  mOrderSale().TotalOrther"></span>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td colspan="3" class="text-right"><b>Thanh toán</b></td>
                    <td colspan="2">
                        <span data-bind="textMoneyDefaultSymbol: CustommerMoneyTake"></span>
                    </td>
                </tr>
                <!--ko if: mOrderSale().Note() && mOrderSale().Note().length >0 -->
                <tr>
                    <td class="text-right">Ghi chú</td>
                    <td colspan="4">
                        <span data-bind="text: mOrderSale().Note"></span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <h5 style="text-align:right">Xin cảm ơn Quý Khách và hẹn gặp lại.</h5>
    </div>
</script>