<script type="text/javascript">
    var UserBranchId = "@ViewBag.UserBranchId";
    var UserName = "@ViewBag.UserName";
</script>
<div class="main-content">
    <div class="page-content">
        <div id="contentX" class="easyui-tabs" style="position:relative; width:100%;">
            <div title="Home">
            </div>
        </div>

    </div><!--/.page-content-->
    @Html.Partial("/Views/Shared/Partial/module/Partial/_chooseSkin.cshtml")
    <!--/#ace-settings-container-->

</div><!--/.main-content-->


